:root {
    --black: #000000;
    --red: #810000;
    --gray: #808080;
    --white: #fffafa;
}

.localization h2,
.contact h2 {
    margin: 50px;
    text-transform: uppercase;
}

.localization {
    text-align: center;
}

iframe {
    height:250px;
}

.adress {
    margin-bottom: 30px;
}

.adress p,
form {
    font-size: 14px;
}

.contact {
    margin-top: 50px;
}

.contact h2 {
    padding: 40px 0 15px 0;
    text-align: center;
}

input,
textarea,
button {
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--gray);
    padding: 5px;
    text-align: center; 
}

input:focus, textarea:focus {
    background-color: var(--gray);
}

label, input, textarea{
    display: block;
    margin: 5px auto;
    width: 50%;    
}

button {
    background-color: var(--white);
    box-shadow: 2px var(--gray);
    color: var(--black);
    display: block;    
    margin: 18px auto;
    text-align: center;
    text-shadow: 1px var(--gray);
    transform: translate(-50% -50%);
    width: 30%;
}

button:hover {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
}


